@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  --muted: #64748b;
  --accent: #0ea5e9;
}

.dark {
  --background: #131307;
  --foreground: #f1f5f9;
  --muted: #a3bcde;
  --accent: #38bdf8;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

h1, h2, h3 {
  color: var(--accent);
}

p {
  color: var(--muted);
}
