@import "tailwindcss";

:root {
  --background: #f5eff3;       /* Tailwind's slate-50 */
  --foreground: #1e293b;       /* slate-800 */
  --muted: #173054;            /* slate-500 */
  --accent: #0f172a;           /* slate-900 for headings or borders */
}

.dark {
  --background: #0f172a;       /* slate-900 */
  --foreground: #f1f5f9;       /* slate-100 */
  --muted: #a3bcde;            /* slate-400 */
  --accent: #38bdf8;           /* sky-400 for links or highlights */
}



body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

h1, h2, h3 {
  color: var(--accent);
}

p {
  color: var(--muted);
}
